<div>je suis une ressouce vie a partir de l action show du controller</div>

<% @utilisateurs.each do |utilisateur| %>

  <div>title : <%= utilisateur.title %></div>
  <div>nom : <%= utilisateur.nom %></div>
  <div>prenom : <%= utilisateur.prenom %></div>
  <div>rue : <%= utilisateur.rue %></div>
  <div>numero : <%= utilisateur.nom %></div>
  <div>code_postal : <%= utilisateur.nom %></div>
  <div>localite : <%= utilisateur.nom %></div>
  <div>pays : <%= utilisateur.nom %></div>
  <div>numero_telephone : <%= utilisateur.nom %></div>
  <div>email : <%= utilisateur.nom %></div>
  <div>email_confirm : <%= utilisateur.nom %></div>
  <div>plainte : <%= utilisateur.nom %></div>

<% end %>


 