<h1>page test</h1>

<%= form_with model: @utilisateur, local: true do |form| %>
   
   <p>
     <%= form.label :title %>
     <%= form.text_field :title %>
   </p>
  
  
   <p>
     <%= form.label :nom %>
     <%= form.text_field :nom %>
   </p>

   <p>
     <%= form.label :prenom %>
     <%= form.text_field :prenom %>
   </p>

   <p>
     <%= form.label :rue %>
     <%= form.text_field :rue %>
   </p>

   <p>
     <%= form.label :numero %>
     <%= form.text_field :numero %>
   </p>

   <p>
     <%= form.label :code_postal %>
     <%= form.text_field :code_postal %>
   </p>

   <p>
     <%= form.label :localite %>
     <%= form.text_field :localite %>
   </p>

   <p>
     <%= form.label :pays %>
     <%= form.text_field :pays %>
   </p>

   <p>
     <%= form.label :numero_telephone %>
     <%= form.text_field :numero_telephone %>
   </p>

   <p>
     <%= form.label :email %>
     <%= form.text_field :email %>
   </p>

   <p>
     <%= form.label :email_confirm %>
     <%= form.text_field :email_confirm %>
   </p>

   <p>
     <%= form.label :plainte %>
     <%= form.text_field :plainte %>
   </p>


    <p>

      <%= form.submit %>
   </p>


<%end%>



